<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
      body {
        margin: 0;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="bundle.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <% htmlWebpackPlugin.options.chartIDs.forEach(function(id){ %>
    <div id="<%= id %>" class="na-dataviz"></div>
    <% }) %>
    <script src="bundle.js"></script>
    <script>
      var charts = document.querySelectorAll('.na-dataviz');

      if(charts){
        for(let i=0; i<charts.length; i++){
          renderDataViz(charts[i]);
        }
      }
    </script>
  </body>
</html>
